<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding: 1rem;
}
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="markdown-body">
  <main>
    {{ content }}
  </main>

  <footer style="margin-top: 2em; font-size: 0.9em; color: gray;">
    <p>This is not the official wiki, please check <a href="/pcsim-wiki/README.md">README.md</a> for credits.</p>
  </footer>
</body>
</html>
